html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:#6699FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background:#6699FF; 
}

.container{
    width: 80%;
}

header,footer{
    background:#663399;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    
    
}

nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


a{
    text-decoration: none;
    border: none;
    color:#000033;
    font-family: 'Rubik';


}
a:hover{
    cursor: pointer;
}

.mediumFont{
    font-family: 'Rubik';
    color:#000033;
    font-size: 20px;
}


/* бэм*/
.mybtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;  
    color: #000033;
    background: #6699FF;
    
    padding: 10px;

}